# Core dependencies
flask==3.0.0
flask-cors==4.0.0
google-generativeai
langchain-google-genai
langchain-huggingface
langchain-core==0.3.12
langchain-community==0.3.2
faiss-cpu==1.9.0
python-dotenv==1.0.0
requests==2.31.0
pymongo==4.8.0
sentence-transformers==2.6.1
scikit-learn==1.3.0
deep-translator==1.9.1
pandas
numpy
rapidfuzz
textblob
googletrans==4.0rc1
spellchecker

# Optional dependencies for development
python-dotenv==1.0.0
